a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,

hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
article,
aside,
details,
figcaption,
figure,
footer,

hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}


html {
  --blue-1: #1C89F2;
  --blue-2: #003D79;
  --blue-3: #D0DDE9;
 
  --white-1: #FFFFFF;
  
  --black-1: #020007;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: var(--blue-1-1);
  color: var(--black-1);
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 1rem;
  
}

.cta1 {

  font-family: Poppins, sans-serif ;
  text-align: center;
  color: var(--blue-2-1);
  display: flex;
  padding: 1.089rem 2.188rem;
  background: var(--white-1);
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: .3px solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.cta2 {

  font-family: Poppins, sans-serif ;
  text-align: center;
  color: var(--white-1);
  display: flex;
  padding: 1.089rem 2.188rem;
  background: var(--blue-1);
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: .3px solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}


.titulo {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 1.272rem .323,99rem;
  color: var(--blue-2);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sub-titulo {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black-1);
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.linha {
border-top: 0.4px solid;
}
.main {
  margin-top: 0px;
  width: 100%;
  height: 700px;
  background: url(../img/header.png) no-repeat center center;
  background-size: cover;
  color: #003D79;
  text-align: end;
  display: flex;
  flex-direction: right;
  
}

fieldset{
  border:3px solid var(--blue-1);
  border-radius:50px;
  padding: 2rem;

 
}

.vantagens-home {
  text-align: center;
}
.vantagens-home-lista,
.completeCadastro,
.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  
}





.completeCadastro{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  
}



  /*Responsive */



/@media only screen and (max-width: 780px) {
 
  .js [data-menu="lista"].ativo {
    display: block;
  }
 
}

.completeCadastro{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  
}

.form {
  border: 5rem solid var(#003D79);
  border-radius:8px;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  margin-left: 100o;
  margin-right: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
 

}

.form button,
.form input,
.form label,
.form select,
.form textarea {
  display: inline;
  width: 100%;
  float: right;
  
}
.form label {
  font-family:Arial, Helvetica, sans-serif;
  font-size: .125rem;
  margin-bottom: 1rem;
  border-radius: 5px #003D79;
}

.formtittle {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.111rem ;
  color: #003D79;
  font-weight: 600;
}
.form input,
.form select ,
.form input,
.form select,
.form textarea,
.fieldset {
  font-family: Arial, Helvetica, sans-serif;
  font-size:.9rem;
  color: #003D79;
  padding: .3rem;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;
  border: 2px solid var(--blue-1);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
padding: 1rem

}


@media only screen and (max-width: 750px) {
  .vantagens-home-lista,
  .form{
    grid-template-columns: 1fr;
    justify-items: center;
}
.completeCadastro {

  width: 100%;
}
  .main,{
    height: 400px;
  }
  .main {
    background: url(../img/header.png) no-repeat center center;
  }

  .vantagens-home-lista  p , {
    padding: 1rem ;
  }

      